body {
	display: block;
	height: 100vh;
	margin: 0 auto;
	padding: 0 0;
	overflow: hidden;
	width: 100%;
}

div.sidebar {
	display: block;
	height: 100vh;
	left: 0;
	position: absolute;
	top: 0;
}
	div.sidebar img.sidebar-img {
		display: block;
		border-bottom: 1px solid white;
		height: auto;
		width: 100%;
	}
	div.sidebar div.titlearea span {
	}

div.mainview {
	display: block;
	float: right;
	height: 100vh;
}